
@model IEnumerable<LibraryApp.Models.Genre>
@{
	ViewData["Title"] = "Genre";
}
<div class="container">
	<h1>Genre</h1>

	<table class="table table-condensed table-hover">
		<tr>
			<th>@Html.DisplayNameFor(m=>m.Id)</th>
			<th>@Html.DisplayNameFor(m=>m.Name)</th>
			<th></th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(m=>item.Id)</td>
				<td>@Html.DisplayFor(m=>item.Name)</td>
				<td>Edit|Details|Delete</td>
			</tr>
		}
	</table>
	<a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Create")">
		<span class="glyphicon glyphicon-plus"></span>
		<span>Create New</span>
	</a>
</div>